<nav class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex 
    flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
  <div class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">

    <a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
      href="javascript:void(0)">
      Wastage Wrecker
    </a>
    <div class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 
        overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded">
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a class="text-blueGray-700 hover:text-pink-600 text-xs uppercase py-3 font-bold block"
            [routerLink]="['/profile', user.userId]">
            <i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
            Dashboard</a>
        </li>
        <li class="items-center">
          <a class="text-blueGray-700 hover:text-pink-600 text-xs uppercase py-3 font-bold block"
            [routerLink]="['/outlet']">
            <i class="fas fa-shop text-blueGray-400 mr-2 text-sm"></i>
            Outlets</a>
        </li>
        <li class="items-center">
          <a class="text-pink-500 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
            [routerLink]="['/promotion']">
            <i class="fas fa-tags text-blueGray-400 mr-2 text-sm"></i>
            Promotions</a>
        </li>
        <li class="items-center">
          <a class="text-blueGray-300 text-xs uppercase py-3 font-bold block"
            href="javascript:void(0)">
            <i class="fas fa-tools text-blueGray-300 mr-2 text-sm"></i>
            Settings (soon)</a>
        </li>
      </ul>
      <hr class="my-4 md:min-w-full" />
    </div>
  </div>
</nav>
<div class="relative md:ml-64 bg-blueGray-100">
  <app-navbar></app-navbar>
    <div class="relative bg-orange-500 md:pt-32 pb-32 pt-12">
        <div class="px-4 md:px-100 mx-auto w-full">
            <div>
        <!-- Add outlet button -->
                <div class="flex flex-wrap">
                    <div class="w-full px-6">
                        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                        <div class="flex-auto p-4 w-auto">
                            <div class="flex flex-wrap">
                            <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                                Promotions
                                </h5>
                                <span class="font-semibold text-xl text-blueGray-700">
                                All your promotions
                                </span>
                            </div>
                            <div class="relative w-auto pl-4 flex-initial">
                                <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500">
                                <i class="fas fa-tags"></i>
                                </div>
                            </div>
                            </div>
                            <p class="text-sm text-blueGray-400 mt-4">
                            <span class="text-emerald-500 mr-2">
                                <!-- {{ outlets.length }} -->
                            </span>
                            <span class="whitespace-nowrap">
                                No. of promotions 
                            </span>
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

          <div class="mt-10 py-10 border-t border-gray-300 text-center" style="padding-left: 50px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;">

            <div class="max-w-sm rounded overflow-hidden shadow-lg bg-blueGray-100 hover:bg-orange-500" style="cursor: pointer;"*ngFor="let promo of promotionListByOwner; index as i"
                (click)="promoClicked(promo, promo.addressId)">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ promo.storeName }}</div>
                </div>
                <img class="w-full" style="height: 50%;" src="{{ promo.promoPicUrl }}">
                <div class="px-6 py-4" style="height: 200px;">
                    <div class="font-bold text-xl mb-2">{{ promo.itemName }} @ {{ promo.price }}</div>
                    <p class="text-gray-700 text-base">
                    {{ promo.description }}
                    </p>
                    <p class="text-gray-700 text-base" *ngIf="promo.startDate !!= promo.endDate">
                    From: <span style="font-weight:bold ;">{{ promo.startDate }}</span> to <span style="font-weight:bold">{{promo.endDate}}</span>
                    </p>
                    <p class="text-gray-700 text-base" *ngIf="promo.startDate === promo.endDate">
                    From: <span style="font-weight:bold ;">{{ promo.startTime }}</span> to <span style="font-weight:bold">{{promo.endTime}}</span> on 
                    <span style="font-weight:bold">{{ promo.startDate }}</span>
                    </p>
                </div>
            </div>
          </div>
        </div>

<div class="relative w-full bottom-0" style="margin-left: 100px; padding-top: 200px;">
    <footer class="block py-4">
      <div class="container mx-auto px-4">
        <hr class="mb-4 border-b-1 border-blueGray-200" />
        <div class="flex flex-wrap items-center md:justify-between justify-center">
          <div class="w-full md:w-4/12 px-4">
            <div class="text-sm text-blueGray-500 font-semibold py-1">
              Copyright © {{date}}
              <a href="https://github.com/Alejandro-houlu"
                class="text-blueGray-500 hover:text-blueGray-700 text-sm font-semibold py-1">
                Alejandro
              </a>
            </div>
          </div>
          <div class="w-full md:w-8/12 px-4">
            <ul class="flex flex-wrap list-none md:justify-end  justify-center">
              <li>
                <a href="https://github.com/Alejandro-houlu"
                  class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3">
                  Alejandro
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3">
                  About Us
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3">
                  Blog
                </a>
              </li>
              <li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    </div>